In [2]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("veriseti.csv")  #datasetinizi ekleyin
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

# Aşağıda sizin tablonuzun sütunlarını sırasıyla ekleyin

In [3]:
dztlm_mapping = {'Y': 1, 'N': 0}

df['Sütun1'] = df['Sütun1'].map(dztlm_mapping)
df['Sütun2'] = df['Sütun2'].map(dztlm_mapping)
df['Sütun3'] = df['Sütun3'].map(dztlm_mapping)
df['Sütun4'] = df['Sütun4'].map(dztlm_mapping)
dztlm_mapping_egitim = {'Ör1': 0, 'Ör2': 1, 'Ör3': 2}  #sütunlardaki sözel değerlerin karşılığı olacak sayısal değerleri giriniz
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(dztlm_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

# Aşağıda sonuç satırını yazın

In [4]:
y = df["Sonuç satırı"]
x = df.drop(["Sonuç satırı"], axis=1)
x = x.fillna(0)

In [5]:
train = tree.DecisionTreeClassifier()
train = train.fit(x,y)

# Aşağıda soruları ekle ve gerekli parametreleri gir

tablodaki sütunların sıralamasına göre soruları yazın

In [7]:
a = int(input("Soru1?: "))
b = int(input("Soru2: "))
c = int(input("Soru3 "))
d = int(input("Soru4 "))
e = int(input("Soru5 "))
f = int(input("Soru6"))

m = train.predict([[a, b, c, d, e, f]])

if m[0] == 1:
    print("Olumlu ise olacak koşul")
else:
    print("Kriterleri karsilamadi.")

Kac yil deneyiminiz var?: 5
Suan calisiyor musunuz? (0-Hayir, 1-Evet): 1
Onceden kac firmada calistiniz?: 5
Egitim seviyeniz nedir? (0-Lisans, 1-Yuksek Lisans, 2-Master): 1
En iyi 10 universiteden birinde mi okudunuz? (0-Hayir, 1-Evet): 1
Stajinizi bizde mi yaptiniz? (0-Hayir, 1-Evet): 1
Ise alindi

C:\Users\aliyi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(